@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
body {
    font-family: 'Barlow', sans-serif;
    font-size:62.5%;
    line-height: 1.42857143;
    color: #333;
    background-color: #f5f5f5;
  }
.container{
    width:90%;
    background-color: #fff;
    margin-top: 10vh;
    margin-bottom: 8vh;
    padding: 20px 40px;
}
.nav {
    a img{
        max-width: 50px;
        opacity:0.9;
    }
}
ul{
    padding: 0;
    li{
        position: relative;
        display: inline;
        a{
            text-decoration: none;
            padding: 8px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
section.nav{
    padding: 14px 0;
    ul{
        li{
            padding: 0 0 0 5px;
            &.active{
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}
section.intro{
    padding:24px 0 40px 0;
    ul{
        padding-top: 10px;
        margin-left: -8px;
        li{
            padding: 0 16px 0 0;
            &::after{
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #A9ACBC;
                top:7px;
                right: 5px;
            }
        }
    }
}
section.intro ul li:last-child::after{
    background-color: transparent;
}

section.featured-casestudies{
    margin: 10px 0 20px;
    .case{
        background-color: #fff;
        margin-bottom: 32px;
        padding: 20px;
        box-shadow: 0 2px 16px 0 rgba(234,234,235,0.2);
    }
    h4{
        letter-spacing: 1.1px;
    }
    img{
        width: 100%;
        margin-bottom: 20px;
    }
    p:not(.font-12){
        padding-bottom: 10px;
    }
    a{
        padding: 16px 0;
        color: #2C304E;
        text-decoration: none;
        &:hover{
            .case{
                box-shadow: 0 2px 20px 0 rgba(234, 234, 235, 0.6);
            }
        }
    }
}
.articles{
    .case{
        max-height: 400px;
        min-height: 313px;
        img{
            margin-bottom: 16px;
        }
        h4{
            font-weight: 400;
        }
    }
}
.m-b-20{
    margin-bottom: 20px;
}
.m-b-40{
    margin-bottom: 40px;
}
.m-t-20{
    margin-top: 20px;
}
hr{
    opacity: 0.1;
}
.company{
    margin-bottom: 24px;
    h4{
        margin-bottom: 0;
    }
    p {
        margin-top: 8px;
    }
}
section.footer{
    .col-xs-6{
        padding-top:0;
        padding-bottom: 4px;
    }
    .link-section{
        padding-top: 20px;
        ul{
            margin-bottom: 30px;
            margin-left: -8px;
            margin-top: 4px;
        }
        p{
            margin-bottom: 0;
        }
    }
}

.about{
    .bio{
        margin-top: 32px;
    }
}
.hero-image{
    img{
        width: 100%;
    }
}
.border-right{
    border-right: 1px solid #EAEAEB;
}

@media(max-width: 560px) {
    .container{
        width: 90%;
        margin-top:16px;
        margin-bottom: 16px;
        padding: 16px;
    }
    .last-link{
        display: block;
        margin-top: 10px;
    }
    h1{
        font-size: 3rem;
    }
    h3{
        font-size: 2rem;
    }
}

@media(min-width: 992px) {
    .container{
        width: 90%;
        margin-top: 10vh;
        margin-bottom: 8vh;
    }
    section.featured-casestudies{
        img{
            margin-bottom: 0;
        }
        .col-lg-7{
            padding-top: 20px;
            padding-left: 30px;
        }
    }
}

@media (min-width: 1200px){
    .container{
        width: 1075px;
    }
}
